* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: grid;
    color: rgb(80, 80, 80);
    font-weight: 100;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header" 
    "navigation" 
    "main";
}

.background-header {
    width: 100%;
    background-color: rgb(115, 121, 186);
}

header {
    grid-area: header;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 8px 0;
}

.top-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bell-container {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid rgb(80, 80, 80);
}

circle {
    fill: rgb(156, 222, 139);
}

.bell-container svg {
    padding-top: 5px;
    width: 25px;
    margin: auto;
    fill: white;
    cursor: pointer;
}

svg:hover {
    fill: rgb(76, 77, 111);
}

h1 {
    font-size: 1.5rem;
    font-weight: 100;
}

header h1 {
    justify-self: flex-start;
}

h3 {
    font-size: 0.8rem;
}

header h3 {
    margin-left: 10px;
}

header img {
    width: 40px;
    border-radius: 50%;
}

nav {
    grid-area: navigation;
    background-color: rgb(76, 77, 111);
    text-align: center;
}

a {
    text-decoration: none;
}

.main-nav img {
    width: 45px;
    padding: 10px 5px;
}

#selected-nav {
    border-bottom: 3px solid rgb(156, 222, 139);
}

main {
    grid-area: main;
}

.main-header {
    width: 97%;
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.search-background {
    width: 100%;
    background-color: rgb(226, 226, 226);
    padding: 20px 0;
    padding-left: 10vmin;
    border-radius: 0px 0px 0px 10px;
    margin-bottom: 20px;
}

.search-background .main-header-search {
    background-color: white;
    width: 80%;
    border-radius: 5px;
    padding: 0 5px;
}

.main-header-search input {
    width: 100%;
}

h2 {
    font-size: 1.3rem;
}

.alert {
    width: 95%;
    margin: auto;
    background-color: rgb(114, 121, 186);
    border-radius: 5px;
    padding: 10px 5px;
    color: white;
    font-size: 0.9rem;
}

.notification-banner {
    display: flex;
}

.notification-banner-close {
    margin-left: auto;
}

.traffic {
    width: 95%;
    margin: auto;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.section-title-1 {
    width: 95%;
    margin: auto;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 900;
}

.section-title {
    width: 95%;
    margin: auto;
    font-size: 0.9rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 15px 0;
}

.traffic-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.traffic-nav .active {
    background-color: rgb(156, 222, 139);
    color: white;
    border-radius: 5px;
}

.traffic-nav li {
    padding: 0 5px;
    font-size: 0.8rem;
}

.main-header h2 {
    padding-right: 10px;
}

.social-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(165, 165, 165);
    margin: 10px auto;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
}

.social-container p {
    padding-left: 15px;
}

.social-container p:first-child {
    color: rgb(115, 121, 186);
}

.social-container p:last-child {
    font-size: 1.8rem;
}

.social-image {
    background-color: rgb(115, 121, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50%;
    width: 60px;
    height: 60px;
    text-align: center;
}

.social-image svg {
    width: 40px;
}

.members-container {
    width: 95%;
    margin: 10px auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    border-bottom: 1px solid rgb(165, 165, 165);
}

.date {
    margin-left: auto;
}

.members-container a {
    font-size: 0.8rem;
}

.members-container img {
    width: 45px;
    margin-right: 15px;
    border-radius: 50%;
}

.arrow {
    color: rgb(177, 177, 177);
    font-weight: 100;
    font-size: 1.2rem;
    position: absolute;
    right: 5%;
}

.social-image svg path {
    fill: white;
}

.message {
    width: 100%;
    margin: auto;
    text-align: center;
}

.message h3 {
    text-align: start;
}

form {
    width: 95%;
    margin: auto;
}

form input,
form textarea {
    width: 100%;
    display: block;
    margin: auto;
    border: 1px solid rgb(165, 165, 165);
    margin: 15px 0;
    font-size: 1rem;
    border-radius: 5px;
}

form input {
    padding: 10px;
}

form textarea {
    padding: 10px 0 70px 10px;
}

#send {
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(114, 121, 186);
    color: white;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

.toggle-container:first-of-type {
    margin-top: 15px;
}

.toggle-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-container:nth-of-type(2) {
    margin: 30px auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(165, 165, 165);
    border: 2px solid grey;
    transition: 0.5s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width:27px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    border: 1px solid grey;
    transition: 0.5s;
  }
  
  input:checked + .slider {
    background-color: rgb(115, 121, 186);
    transition: 0.5s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(70px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  .on {
    display: none;
  }
  
  .on,
  .off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 0.65rem;
  }
  
  input:checked + .slider .on {
    display: block;
  }
  
  input:checked + .slider .off {
    display: none;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.message h3 {
    margin-top: 15px;
}

.form-field {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    font-size: 1rem;
}

#timezone {
    color: rgb(80, 80, 80);
    font-family: 'montserrat';
    display: block;
    padding: 10px; 
    width: 95%;
    background-color: rgb(240, 240, 240);
    border: none;
}

.settings-button {
    margin: auto;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

#save,
#cancel {
    text-transform: uppercase;
    width: 40%;
    margin: 0 10px;
    display: block;
    padding: 10px 0;
    font-size: 0.9rem;
    border-radius: 10px;
    border: none;
    color: rgb(80, 80, 80);
}

#save {
    background-color: rgb(114, 121, 186);
    color: white;
}

#cancel {
    background-color: rgb(240, 240, 240);
}

.widget-container-full, .widget-container-half {
    width: 95vw;
    }

@media (min-width: 768px) {
    .grid-container {
    grid-template-columns: 70px 1fr;
    grid-template-areas:
    "header header"
    "navigation main";
    }
    .main {
    grid-template-columns: 50% ;
    }
    .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        width: 85vw;
    }
    .widget-container-half {
        width: 85vw;
    }

    .background-header {
        width: 100vw;
    }

    .background-header {
        height: 60px;
    }

    header {
        grid-area: header;
        width: 95%;
    }
    nav {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #selected-nav {
        border-bottom: none;
    }

    #dashboard {
        border-bottom: none;
        border-left: 5px rgb(156, 222, 139) solid;
    }

    .traffic,
    .daily,
    .mobile,
    .social {
        border-bottom: 1px solid rgb(211, 211, 211);
        padding-bottom: 30px;
    }

    .daily,
    .mobile {
        width: 95%;
        margin: auto;
    }

    .social {
        width: 95%;
        margin: auto;
    }

    .section-title {
        margin: 0;
    }

    .social .section-title {
        padding-top: 30px;
    }

    .social-container {
        margin: 10px;
    }

    .social-wrapper-wide {
        display: flex;
    }

    .members,
    .activity,
    .settings {
        width: 95%;
        margin: auto;
        padding-top: 30px;
    }

    .message {
        width: 95%;
        margin: auto;
        padding-top: 15px;
    }
}

@media (min-width: 1024px) {
    .main-header-search input {
        width: 100%;
    }

    .search-background .main-header-search {
        width: 30%;
        margin-left: auto;
        margin-right: 30px;
    }

    .ultra-wide-container {
        width: 95%;
        margin: auto;
        display: flex;
    }

    .widget-container-half {
        width: 40vw;

    }

    .members,
    .activity,
    .message,
    .settings {
        margin: 0 auto;
        padding: 0;
    }

    .activity {
        padding-left: 20px;
        padding-bottom: 10px;    
        border-bottom: 1px solid rgb(211, 211, 211);
    }

    .members {
        padding-right: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(211, 211, 211);
    }

    .members-container {
        font-size: 0.7rem;
    }

    #last-member,
    #last-activity {
        padding-bottom: 0;
        border-bottom: none;
    }

    #border-between,
    .members,
    .message {
        border-right: 1px solid rgb(211, 211, 211);
    }

    .section-title {
        padding-top: 20px;
    }

    .daily,
    .message {
        padding-right: 20px;
    }

    .mobile,
    .settings {
        padding-left: 20px;
    }

    #message-user-title {
        margin-top: 0;
    }

}